<p>
  <strong>Otiskko:</strong>
  <%=h @event.title %>
</p>

<p>
  <strong>Paikka:</strong>
  <%=h @event.location %>
</p>

<p>
  <strong>Aloituspäivämäärä:</strong>
  <%=h @event.startdate %>
</p>

<p>
  <strong>Tapahtuman kesto:</strong>
  <%=h @event.duration %> pv
</p>

<p>
  <strong>Lyhyt esittely:</strong>
  <%=h @event.description %>
</p>

<p>
  <strong>Lisätietoja:</strong>
  <%=h @event.info %>
</p>
<% if @url_reg.match(request.request_uri)[1] == 'tapahtumat' -%>

<% else -%>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
<% end -%>