<h2>Kasvattajat</h2>

<% if !@kennels.blank? %>
  <table id="kennels" cellspacing="5" cellpadding="5">
    <thead>
      <th>Kennel name</th>
      <th>Location</th>
      <th>Owner name</th>
      <th>Phonenumber</th>
      <th>E-Mail</th>
      <th>Homepage</th>
    </thead>
    <tbody>
  <% for item in @kennels %>
    <tr>
      <td><strong><%= item.kennel_name %></strong></td>
      <td><em><%= item.location %></em></td>
      <td><%= item.owner_name %></td>
      <td><%= item.phone %></td>
      <td><%= item.email %></td>
      <td><%= link_to 'Kotisivut', item.homepage %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Ei kasvattajia tällä hetkellä!</h3>
<% end %>