<h2>Trimmaajat</h2>

<% if !@trimmers.blank? %>
  <table id="trimmers" cellspacing="0" summary="Listing of Airedale terrier trimmers, who are members of the assosiaction">
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>Address</th>
      <th>Postnumber</th>
      <th>Phonenumber</th>
      <th>Homepage</th>
    </thead>
    <tbody>
  <% for item in @trimmers %>
    <tr>
      <td><strong><%= item.name %></strong></td>
      <td><em><%= item.location %></em></td>
      <td><%= item.address %></td>
      <td><%= item.ponumber %></td>
      <td><%= item.phone %></td>
      <td><%= link_to item.homepage %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Ei trimmaajia tällä hetkellä!</h3>
<% end %>