<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Suomen Airedalenterrieri Yhdistys Ry - SATY ry</title>
  <%= stylesheet_link_tag 'scaffold', 'airedale' %>
</head>
<body>

  <div id="header">
    <h1>Suomen Airedalenterrieri Yhdistys Ry - SATY ry</h1>
  </div>
  <div id="pagecontent">
    <div id="menu">
      <ul>
        <li><%= link_to 'Etusivu', root_url %></li>
        <li><%= link_to 'Airedalenterrieri', static_url('rotu') %></li>
        <li><%= link_to 'Harrastukset', static_url('harrastukset') %></li>
        <li><%= link_to 'Yhdistys', static_url('yhdistys') %></li>
        <li><%= link_to 'Johtokunta tiedottaa', static_url('johtokunta') %></li>
        <li><%= link_to 'Tapahtumat' %></li>
        <li><%= link_to 'Pentueet' %></li>
        <li><%= link_to 'Kotia etsitään', static_url('kotia') %></li>
        <li><%= link_to 'Kasvattajat', static_url('kennelit') %></li>
        <li><%= link_to 'Trimmaajat' %></li>
        <li><%= link_to 'Kuvia ja tarinoita', static_url('tarinoita') %></li>
        <li><%= link_to 'Foorumi', static_url('foorumi') %></li>
        <li><%= link_to 'Myyntiartikkelit', static_url('myynti') %></li>
        <li><%= link_to 'Tulospörssi', static_url('tulokset') %></li>
        <li><%= link_to 'Linkit', static_url('linkit') %></li>
      </ul>
    </div>
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield %>

  </div>
  <div id="footer">

  </div>
</body>
</html>
